@model InterviewRequestModel
<div class="container">
    <form asp-controller="Interview" asp-action="Create" method="post">
        <div class="my-5 row col-12">
            <label for="SubmissionId">SubmissionId</label>
            <select asp-for="SubmissionId" class="form-control">
                @foreach (var item in ViewBag.SubmissionList)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            </select>
            <span asp-validation-for="SubmissionId"></span>
        </div>
        <div class="my-5 row col-12">
            <label for="InterviewRound">InterviewRound</label>
            <input asp-for="InterviewRound" class="form-control" />
            <span asp-validation-for="InterviewRound"></span>
        </div>
        <div class="my-5 row col-12">
            <label for="InterviewTypeId">InterviewTypeId</label>
            <select asp-for="InterviewTypeId" class="form-control">
                @foreach (var item in ViewBag.InterviewTypeList)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            </select>
            <span asp-validation-for="InterviewTypeId"></span>
        </div>
        <div class="my-5 row col-12">
            <label for="InterviewStatusId">InterviewStatusId</label>
            <select asp-for="InterviewStatusId" class="form-control">
                @foreach (var item in ViewBag.InterviewStatusList)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            </select>
            <span asp-validation-for="InterviewStatusId"></span>
        </div>
        <div class="my-5 row col-12">
            <label for="InterviewerId">InterviewerId</label>
            <select asp-for="InterviewerId" class="form-control">
                @if (ViewBag.InterviewerList != null)
                {
                    @foreach (var item in ViewBag.InterviewerList)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                }

            </select>
            <span asp-validation-for="InterviewerId"></span>
        </div>
        <input type="submit" value="Add Interview" class="btn btn-primary" />
    </form>
</div>